{% extends 'jokes/base.html' %}

{% block content %}
<h1 class="text-center">Добро пожаловать в Joke Bank!</h1>
<div class="row">
    {% for category, jokes in jokes_by_category.items %}
    <div class="col_#1">
        <h3>{{ category|title }}</h3>
        <ul class="list_group">
            {% for joke in jokes %}
            <li class="list-group-item">{{ joke.text }}</li>
            {% empty %}
            <li class="list-group-item text-muted">Анекдотов этой категории ещё не придумали :b.</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}

