body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    padding-top: 50px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
